<!DOCTYPE HTML>
<html>

<!--
    http://unlicense.org/
    author: gregory tomlinson
-->

<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml -->
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="awesome" />
        <meta name="description" content="" />
        
    </head>
    <body>
        <div id="container">

            <div id="top">

            </div> <!-- end #top -->
            
            <div id="middle">

            </div> <!-- END #middle -->
        
            <div id="bottom">

            </div> <!-- end #bottom -->
            
        </div> <!-- end #container -->
    
        
        <script type="text/javascript" src="/static/js/fastFrag.js" charset="utf-8"></script>
        
        <script type="text/javascript" charset="utf-8">
        var structure_items = [];
        
        // for(var i=0; i<100; i++){
        //     
        //     structure_items.push({
        //         
        //         content : [{
        //             type : "a",
        //             attrs : {
        //                 href : "http://party.com:8082/",
        //                 title : "neato " + i
        //             },
        //             content : {
        //                 type : "img",
        //                 attr: {
        //                     src : "http://www.bondagesurfer.com/Games/yumi-rape-sex.jpg"                            
        //                 }
        // 
        //             }
        //         },{
        //             content : "count is " + i
        //         }]
        //         
        //     })
        //     
        // }
        
        
        var structure_items = "whatever"
        
        var structure = [{
            type : "h1",
            content : "Hello fastFrag"
        },{
            type :"p",
            content : "Welcome to the more complex example of fastFrag"
        },{
            css : "contentsContainer",
            content : [{
                type : "h3",
                content : "A List of Simpsons quotes"
            },{
                type : "ul",
                content : structure_items
            },{
                content : {
                    type : "a",
                    css : "simpsonslink",
                    content : "The Complete List",
                    attr : {
                        href : "http://blogzarro.com/2007/07/100-greatest-simpsons-quotes/",
                        target : 'new'
                    }                            
                }
            }]
        },{
            id : "footer",
            content : [{
                type : "form",
                content : [{
                    type : "input",
                    id : "value_1",
                    attr : {
                        type : "checkbox",
                        name : "value_1",
                        value : "yes",
                        checked : true
                        
                    }
                },{
                    type : "label",
                    content : "Fast?",
                    attr : {
                        'for' : 'value_1' 
                    }
                }]
            }]
        }]            
            
        document.getElementById("middle").appendChild(  fastFrag.create( structure )   )
            
        </script>
      
    </body>
</html>
