<div class="meta">
    <p>Learn more about <a href="http://github.com/gregory80/fastFrag" target="_blank">fastFrag on github</a></p> by <a href="http://twitter.com/gregory80" target="_blank">@gregory80</a>. Get <a href="http://github.com/gregory80/fastFrag/blob/master/js/fastFrag.js" target="_blank">fastFrag</a> or the minified source <a href="http://github.com/gregory80/fastFrag/blob/master/js/fastFrag.min.js" target="_blank">here</a>.
    
    <p>Please note: you should download and keep a local copy, the master branch, linked above, is subject to change </p>
</div>