
*{ padding:0; margin:0; }
h1,h2,h3,h4,h5,h6,input,textarea,select,option, body {
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:normal;
    color:#333;
}
.hr {
    clear:both;
    float:none;
}
.hr hr {
    display:none;
}
#top {
    
}
#middle {
    
}
#bottom {
    
}

.pretty_print_box {
    float:right;
    padding-right:15px;
}


body {
    background:#3d3d3d;
}
#container {
    width:730px;
    margin:20px auto;

}

#main_text_input {
    width:670px;
    height:420px;
    border:1px solid #666;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:5px;
    background:white;
    
    font-size:15px;
    color:#000;
                    
                    
}
.converstion_button {
    font-size:16px;
    margin-bottom:6px;
}
#middle {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:20px;                
    background:#ccc;
}
#html_to_convert {
    font-size:22px;
    padding-bottom:8px;
}
#html_to_convert a {
    color:#333;
    text-decoration:none;
}
.meta p {
    padding:5px 100px 10px 0px;
}