
*{ padding:0; margin:0; }
h1,h2,h3,h4,h5,h6,input,textarea,select,option, body {
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:normal;
    color:#333;
}
.hr {
    clear:both;
    float:none;
}
.hr hr {
    display:none;
}



#top_test {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:20px;                
    background:#ececec;
    border:1px solid #ccc;
    margin-bottom:25px;    
}
#middle, .bottom_redisplay {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:20px;                
    background:#ececec;
    border:1px solid #ccc;
    margin-bottom:25px;  

}
#bottom {
    margin-bottom:80px;
}
.pretty_print_box {
    float:right;
    padding-right:15px;
    padding-top:10px;
}

.fragged_display_box {
    position:relative;
}


.js_preview_box {
    width:660px;
    background:white;
    overflow-x:auto;
    padding:10px 15px;
    margin:10px 0 10px 0;
    display:none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;    
}
.show_js_preview_button_box {
    margin-top:10px;
    text-align:right;
}

#samples_list {
/*    position:absolute;
    right:15px;
    bottom:5px;  */  
    float:right;
    margin-right:15px;
    margin-bottom:10px;
}

body {
    background:#3d3d3d;
}
#container {
    width:730px;
    margin:20px auto;

}

.text_display_area {
    width:670px;
    height:420px;
    border:1px solid #666;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:5px;
    background:white;
    
    font-size:15px;
    color:#000;
                    
                    
}
.converstion_button {
    font-size:16px;
    margin-bottom:6px;
}

#html_to_convert {
    font-size:22px;
    padding-bottom:8px;
}
#html_to_convert a {
    color:#333;
    text-decoration:none;
}
.meta p {
    padding:5px 100px 10px 0px;
}