<!DOCTYPE HTML>
<html>

<!--
    http://unlicense.org/
    author: gregory tomlinson
-->

{% block top_note %}
<!-- 

    Attention: This is the GET request output for json.fastfrag.org If you are trying to read the source of the page following a POST request (anytime you press a submit buttom), this (GET) source will not match the (POST) source code. You need to check the rendered source. 
    
    This may seem 'annoying' but in order to check that fastFrag.js has executed correctly, you will always have to check the rendered source of the page, since it is JavaScript.
    
    If you are new to JavaScript, there are many tools for checking the rendered source, including the 'elements' inspector in Google Chrome and it's counterpart in FireFox Firebug. Safari and Internet Explorer also have tools for doing this as well.
    
    In essence, in Google Chrome and many other browsers, view-source:http://example.com is actually making a new GET request to the page. The output and processing in this application is done on a POST request, hence causing a mismatch.
    
    This is a really long way of saying, What you see is not what you get in the regular view source.

-->
{% end %}

    <head>
        <title>{% block page_title %}fastFrag HTML=> JSON Converter{% end %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="awesome" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/static/basic.css" type="text/css" media="screen" title="no title" charset="utf-8">        
        <style type="text/css" media="screen">
            #convert_button {
                display:none;
            }
        </style>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2617981-7']);
          _gaq.push(['_trackPageview']);
         </script>        
    </head>
    <body>
        <div id="container">
            {% block top_content %}
            <div id="top">
                
            </div> <!-- end #top -->
            {% end %}
            
            
            {% block middle_content %}
            <div id="middle">


                {% if error %}
                <p>Oops, looks like that isn't valid JSON. Did you change it? Or did we screw up? Tell us <a href="http://github.com/gregory80/fastFrag/issues" target="_blank">here</a> if we did.</p>
                {% end %}
                <div class="fragged_display_box">
                    <form action="" method="post" accept-charset="utf-8">
                        
                        <div>
                            <textarea placeholder="Enter valid JSON" name="frag_text_output" id="frag_text_output" class="text_display_area">{{escape(data_output)}}</textarea>                    
                        </div>
                        <div>
                            <input type="submit" class="converstion_button" name="test_frag" value="Test JSON frag" id="test_frag">
                        </div>
                        {{ xsrf_form_html() }}
                    </form>

                </div>


    {{modules.stat_mod( "footer" )}}

            </div> <!-- END #middle -->
            


            
            
            {% end %}
        
            {% block bottom_content %}
            <div id="bottom">

            </div> <!-- end #bottom -->
            {% end %}
            
        </div> <!-- end #container -->
    
        <script type="text/javascript" charset="utf-8">
        if(!window.console) window.console={};
        if(!window.console.log) window.console.log = function(){};            
        </script>        
        <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        
        {% block javascript %}{% end %}
        
      <script id="page_tracker_box" type="text/javascript" charset="utf-8">
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>
</html>
