{% extends base.html %}
            

{% block middle_content %}



<div id="middle">
    
    <div class="meta">
        {{modules.stat_mod( "top_nav" )}}     
        <h1 id="html_to_convert">fastFrag HTML => JSON Converter (beta)</h1>

        <p>Convert HTML to <a href="http://github.com/gregory80/fastFrag" target="_blank">fastFrag</a> JSON structure.</p>                    

        
    </div>

    
    <form action="" method="post" accept-charset="utf-8">
        
        <textarea placeholder="{{escape(placeholder)}}" class="text_display_area" id="main_text_input" name="html_string"></textarea>
        
        <div>
            <div class="pretty_print_box">
                <label for="pretty_print">pretty print</label>
                <input type="checkbox" name="pretty_print" checked value="true" id="pretty_print">                        
            </div>
            <div>
                <input type="submit" name="" class="converstion_button" value="Convert" id="convert_button">
                <input type="submit" class="converstion_button" name="sample_test" value="Convert Sample" id="sample_test">                                                
            </div>
            <div class="hr"><hr /></div>
        </div>

        {{ xsrf_form_html() }}
    </form>


    <div class="meta">
        <p>Learn more about <a href="http://github.com/gregory80/fastFrag" target="_blank">fastFrag on github</a></p> by <a href="http://twitter.com/gregory80" target="_blank">@gregory80</a>. Get <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.js" target="_blank">fastFrag</a> or the minified source <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.min.js" target="_blank">here</a>. Report any <a href="http://github.com/gregory80/fastFrag/issues" target="_blank">issues here</a>
    </div>

</div> <!-- END #middle -->
{% end %}




{% block javascript %}
<script id="button_manager" type="text/javascript" charset="utf-8">
    $(function() {
       // do stuff.... 
       var $txt_area = $('#main_text_input'), 
            $convert_button = $('#convert_button'), $samp_button = $('#sample_test');
       $txt_area.focus(function() {
           
       }).blur(function() {
           
       }).bind('keyup', function(e) {
           if(e.target.value.length > 1) {
               $convert_button.css('display', 'block');
               $samp_button.css('display', 'none');
           } else {
               $convert_button.css('display', 'none');
               $samp_button.css('display', 'block');                       
           }
       });
       $txt_area.trigger("keyup")
    });
</script>
{% end %}
