<!DOCTYPE HTML>
<html>

<!--
    http://unlicense.org/
    author: gregory tomlinson
-->

<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml -->
    <head>
        <title>Fast Frag Conversion</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="awesome" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/static/basic.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div id="container">

            <div id="top">

            </div> <!-- end #top -->
            
            <div id="middle">
                
                <div class="meta">
                    
                    <h1 id="html_to_convert">Convert HTML to fastFrag JSON</h1>
                    <p>Convert HTML to <a href="http://github.com/gregory80/fastFrag">fastFrag</a> JSON structure, currently, text is stripped and only HTML elements and attributes are returned</p>                    
                    
                    
                </div>

                
                <form action="" method="post" accept-charset="utf-8">
                    
                    <textarea placeholder="{{escape(placeholder)}}" id="main_text_input" name="html_string"></textarea>
                    
                    <div>
                        <input type="submit" name="" value="Convert" id="">
                        <input type="submit" name="sample_test" value="Sample Text" id="sample_test">                                                
                    </div>

                    {{ xsrf_form_html() }}
                </form>


                <div class="meta">
                    <p>Learn more about <a href="http://github.com/gregory80/fastFrag">fastFrag on github</a></p> by <a href="http://twitter.com/gregory80">@gregory80</a>. Get <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.js">fastFrag</a> or the minified source <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.min.js">here</a>
                </div>

            </div> <!-- END #middle -->
        
            <div id="bottom">

            </div> <!-- end #bottom -->
            
        </div> <!-- end #container -->

      
    </body>
</html>
