<!DOCTYPE HTML>
<html>

<!--
    http://unlicense.org/
    author: gregory tomlinson
-->

<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml -->
    <head>
        <title>fastFrag Convert</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="awesome" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/static/basic.css" type="text/css" media="screen" title="no title" charset="utf-8">        
        
    </head>
    <body>
        <div id="container">

            <div id="top">

            </div> <!-- end #top -->
            
            <div id="middle">

                <div class="meta">
                    
                    <h1 id="html_to_convert">fastFrag JSON</h1>
                    <p><a href="http://github.com/gregory80/fastFrag">fastFrag</a> JSON structure below. Or, <a href="/">fastFrag another</a></p>                    
                    
                    
                </div>

                <div>
                    <textarea name="" id="main_text_input">{{data_output}}</textarea>                    
                </div>
                

                <div class="meta">
                    <p>Learn more about <a href="http://github.com/gregory80/fastFrag">fastFrag on github</a></p> by <a href="http://twitter.com/gregory80">@gregory80</a>. Get <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.js">fastFrag</a> or the minified source <a href="http://github.com/gregory80/fastFrag/raw/master/js/fastFrag.min.js">here</a>
                </div>

            </div> <!-- END #middle -->
        
            <div id="bottom">

            </div> <!-- end #bottom -->
            
        </div> <!-- end #container -->
    
        

      
    </body>
</html>
