{% extends base.html %}


{% block top_note %}
    {% if method_type == "post" %}
    <!-- check works  -->


    {% else %}


    <!-- 

        Attention: This is the GET request output for json.fastfrag.org If you are trying to read the source of the page following a POST request (anytime you press a submit buttom), this (GET) source will not match the (POST) source code. You need to check the rendered source. 
    
        This may seem 'annoying' but in order to check that fastFrag.js has executed correctly, you will always have to check the rendered source of the page, since it is JavaScript.
    
        If you are new to JavaScript, there are many tools for checking the rendered source, including the 'elements' inspector in Google Chrome and it's counterpart in FireFox Firebug. Safari and Internet Explorer also have tools for doing this as well.
    
        In essence, in Google Chrome and many other browsers, view-source:http://example.com is actually making a new GET request to the page. The output and processing in this application is done on a POST request, hence causing a mismatch.
    
        This is a really long way of saying, What you see is not what you get in the regular view source.

    -->

    {% end %}

{% end %}




{% block page_title %}fastFrag JSON{% end %}

<!-- the base has everything we want for this page... -->

{% block top_content %}
<div id="top_test">
    <div class="meta">    
        {{modules.stat_mod( "top_nav" )}}     
        <h1 id="html_to_convert"><a href="http://github.com/gregory80/fastFrag">fastFrag JSON</a></h1>

        <p>fastFrag JSON structure below. <a href="/">fastFrag HTML => JSON</a> another or try <a href="/frag">fastFrag JSON examples</a> </p>                    
    </div>
</div>

{% end %}


{% block javascript %}
<script type="text/javascript" charset="utf-8" src="/static/js/fastFrag.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/sample_frags.js"></script>
<script type="text/javascript" charset="utf-8" id="fast_frag_json_samples">
    $(function() {
        sample_frags.init( '.fragged_display_box', {{json_encode(samples)}}   );
    });

</script>

{% end %}
