{% extends base.html %}


{% block top_note %} 
    <!-- 
        Page following POST request
    -->

 {% end %}
 
 {% block page_title %}fastFrag JSON Tester{% end %}


{% block top_content %}

<div id="top_test">
    <div class="meta">
        {{modules.stat_mod( "top_nav" )}}     
        <h1 id="html_to_convert">fastFrag JSON Test</h1>

        <p>Test fastFrag prepended to element #middle (id="middle") below. <a href="/">fastFrag HTML => JSON</a> another, or <a href="/frag">test JSON Frag</a></p>                    

    </div>                

</div> <!-- end #top -->

{% end %}

{% block middle_content %}
<div id="middle">
    <div>
        <div class="show_js_preview_button_box">
            <a href="#">show js code</a>
        </div>
        <div id="show_js_code">
            <div class="js_preview_box">
                <pre>
$('#middle').prepend( fastFrag.create( {{ escape( json_encode( frag_test_data  ) ) }}) );
                </pre>                
            </div>
        </div>        
    </div>

    
</div>
{% end %}


{% block bottom_content %}

<div id="bottom" class="bottom_redisplay">

    <div class="fragged_display_box">
        <form action="" method="post" accept-charset="utf-8">
            
            <div>
                <textarea placeholder="Enter valid JSON" name="frag_text_output" id="frag_text_output" class="text_display_area">{{escape(data_output)}}</textarea>                    
            </div>
            <div>
                <input type="submit" class="converstion_button" name="test_frag" value="Test JSON frag" id="test_frag">
            </div>
            {{ xsrf_form_html() }}
        </form>

    </div>
    
    {{modules.stat_mod( "footer" )}}

</div> <!-- end #bottom -->


{% end %}

{% block javascript %}

    <script type="text/javascript" charset="utf-8" src="/static/js/fastFrag.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/sample_frags.js"></script>
<script type="text/javascript" id="fragData" charset="utf-8">
    // create fastFrag and append to DOM node at middle
    // sample syntax: fastFrag.create();
    // hello world example: fastFrag.create( { "content" : "hello world" }  );
    $('#middle').prepend( fastFrag.create( {{json_encode( frag_test_data  )}}) );
    // end fastFrag append

</script>

<script type="text/javascript" charset="utf-8">
    // draw and display samples dropdown
    $(function(){
        // show / hide link for #middle div
        sample_frags.init( '.fragged_display_box', {{json_encode(samples)}}   );
                
        $('.show_js_preview_button_box').find("a").toggle(function(e) {
            e.preventDefault();
            $('.js_preview_box').css("display", "block");
            $(this).html('hide js code');
        }, function(e) {
            e.preventDefault();
            $('.js_preview_box').css("display", "none");            
            $(this).html('show js code');            
        })
    })

    // end    
</script>

{% end %}
