{% extends base.html %}


{% block top_note %} 
    <!-- 
        Page following POST request
    -->

 {% end %}


{% block top_content %}

<div id="top_test">
    <div class="meta">
        <div class="pretty_print_box">
            <a target="_blank" href="http://github.com/gregory80/fastFrag/blob/master/README.md">About</a>
            </div>       
        <h1 id="html_to_convert">fastFrag JSON Test</h1>

        <p>Test fastFrag appended to element with id:middle below. Learn more about <a href="http://github.com/gregory80/fastFrag" target="_blank">fastFrag on github</a>. Or, <a href="/">fastFrag HTML => JSON</a> another.</p>                    

    </div>                

</div> <!-- end #top -->

{% end %}

{% block middle_content %}
<div id="middle"></div>
{% end %}


{% block bottom_content %}

<div id="bottom" class="bottom_redisplay">

    <div class="fragged_display_box">
        <form action="" method="post" accept-charset="utf-8">
            
            <div>
                <textarea placeholder="Enter valid JSON" name="frag_text_output" id="frag_text_output" class="text_display_area">{{escape(data_output)}}</textarea>                    
            </div>
            <div>
                <input type="submit" class="converstion_button" name="test_frag" value="Test JSON frag" id="test_frag">
            </div>
            {{ xsrf_form_html() }}
        </form>

    </div>
    
    <div class="meta">
        <p>Learn more about <a target="_blank" href="http://github.com/gregory80/fastFrag">fastFrag on github</a></p> by <a href="http://twitter.com/gregory80" target="_blank">@gregory80</a>. Get <a href="http://github.com/gregory80/fastFrag/blob/master/js/fastFrag.js" target="_blank">fastFrag</a> or the minified source <a href="http://github.com/gregory80/fastFrag/blob/master/js/fastFrag.min.js" target="_blank">here</a>
        
        <p>Please note: you should download and keep a local copy, the master branch, linked above, is subject to change </p>
    </div>                

</div> <!-- end #bottom -->


{% end %}

{% block javascript %}

<script type="text/javascript" charset="utf-8" src="/static/js/fastFrag.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/sample_frags.js"></script>
<script type="text/javascript" id="fragData" charset="utf-8">
    // create fastFrag and append to DOM node at middle
    // sample syntax: fastFrag.create();
    // hello world example: fastFrag.create( { "content" : "hello world" }  );
    $('#middle').append( fastFrag.create( {{json_encode( frag_test_data  )}}) );
    // end fastFrag append

</script>

<script type="text/javascript" charset="utf-8">
    // draw and display samples dropdown
    $(function() {
        sample_frags.init( '.fragged_display_box', {{json_encode(samples)}}   );
    });
    // end    
</script>

{% end %}
